$background-color_1: #1f51cf;
$background-color_2: #ccc;
$background-color_3: white;
$border-color_1: #333;
$dark: #333;
$black: #000000;
$primary-color: #1f51cf;
$primary-color-hover: #1940a3;
$color-shocking-blue: #0E3AE6;
$color-dark-blue: #204CB4;
$color-blue: #027db2;
$color-light-blue: #27A6FF;
$color-white: #ffffff;
$box-shadow: #c4c4c4;
$scroll: #979797;
$color-gray: #D2D2D2;
$color-light-gray: #f6f6f6;
$tool-tab: #eee;
$tool-tab-hover: #3a3a3a;
$background: #dadada;
$border: #d8d8d8;
$bold-border: #f5eded;
$danger: #d30000;
$disabled: #adadad;
$color-yellow: #fcc950;
